Hardware/LuckFoxUltra_LCD_Shell/__Previews/*
Hardware/LuckFoxUltra_LCD_Shell/History/*
Hardware/LuckFoxUltra_LCD_Shell/Project Logs for LuckFoxUltra_LCD_Shell/*
Hardware/LuckFoxUltra_LCD_Shell/Project Outputs for LuckFoxUltra_LCD_Shell/*
Hardware/LuckFoxUltra_LCD_Shell/Project Outputs for LuckFoxUltra_LCD_Shell/Design Rule Check - Layout.drc
Hardware/LuckFoxUltra_LCD_Shell/Project Outputs for LuckFoxUltra_LCD_Shell/Design Rule Check - Layout.html
.obsidian/
Tools/SocToolKit_v1.98/Log/
